body {
    padding: 0;    
    margin: 0;
    overflow: hidden;

}

#grid-container {
    width: 90%;
    height: 100vh;

    position: fixed;
    display: flexbox;


    /* border-color: green;
    border-style: solid; */
}

#sidebar-container {
    display: block;
    position: relative;
    float: right;

    width: 10%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-container-vertical-spacer {
    height: 33%;
    width: 100%;

    padding-right: 10px;

    justify-content: center;
    align-items: center;
    /* display: flex; */

    /* border-color: red;
    border-style: solid; */
}

#sidebar-directory {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sidebar-directory li button {
    padding-top: 15px;
    padding-bottom: 15px;

    margin-top: 5px;
    margin-bottom: 5px;

    float: left;

    width: 97%;
    font-weight: bold;

    border-style: solid;
    border-radius: 0 0 0 10px;
    background-color: white;
    border-color: black;
    color: black;

    font-family:'Courier New', Courier, monospace;

}

#sidebar-directory li button:hover {
    color: white;
    background-color: black;

    width: 100%;
}

#sidebar-directory li button:active {
    color: black;
    background-color: burlywood;
}

.grid-row {

    width: 100%;
    height: 20px;
    display: flex;
    margin-bottom: 10px;

}

.live-cell {
    width: 20px;
    height: 100%;
    
    margin-right: 10px;

    background-color: black;
    color: white;

    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.dead-cell {
    width: 20px;
    height: 100%;
    
    margin-right: 10px;

    background-color: white;
    color: white;
    
    border-radius: 5px;
    border-color: gray;
    border-width: 2px;
    border-style: solid;
}

@keyframes fade {
    0% { opacity: 0;}
    100% { opacity: 1;}
}